body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.passwordContainer {
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.inputGroup {
    margin-bottom: 20px;
    position: relative;
}

.inputGroup label {
    font-weight: 500;
    color: #555;
    display: block;
}

.inputGroup input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    background: transparent;
    outline: none;
}

.inputGroup input:focus {
    border-bottom-color: #007BFF;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttonGroup button, .buttonGroup input[type="submit"] {
 width: 48%;
 padding: 10px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s;
 background-color: #007BFF;
 color: #fff;
 text-align: center;        
 vertical-align: middle;    
 transform: none;
}

.buttonGroup button {
    background-color: #ccc;
    color: #000;
}

.buttonGroup button:hover {
    background-color: #aaa;
}

.buttonGroup input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
}

.buttonGroup input[type="submit"]:hover {
    background-color: #0056b3;
}

